
    <!-- Start #step1 -->
	<div id="step1" class="block bg-white" data-edit="false">
		<!-- Container -->
		<div class="container container-main auto-invert">
			<!-- Title -->
			<div class="section-title auto-invert line-b align-center">
				<h2 class="font-cond-b fg-text-d lts-sm" contenteditable="false">1. Contact Information</h2>
				<p class="font-cond-l lts-sm" contenteditable="false">Let's get started by giving us your 
                    name and email address so we can contact you.<br /> We promise we won't spam you.
				</p>
			</div>
			<!-- /Title -->
			<!-- Contact Form -->
			<form id="contact-form" class="contact-form" action="" data-edit="false" data-editor="field">
				<div class="alert alert-success alert-sent hidden">
					<b>Success! </b>Message sent.
				</div>
				<div class="alert alert-danger alert-failed hidden">
					<b>Error! </b>Message not sent. Make sure you are connected to a working email server.
				</div>
				<!-- Row -->
				<div class="row">
					<!-- Col -->
					<div class="col-sm-6">
						<div class="form-group">
							<input #firstName type="text" class="form-control" placeholder="First Name" 
                            data-field="placeholder[First name]" value="" required="" style="">
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
					</div>
                    <div class="col-sm-6">
						<div class="form-group">
							<input #lastName type="text" class="form-control" placeholder="Last Name" 
                            data-field="placeholder[Last Name]" value="" required="" style="">
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
					</div>
                   
					<!-- /Col -->
					
				</div>
				<!-- /Row -->
                
                <!-- Row -->
				<div class="row">
					<!-- Col -->
					<div class="col-sm-12">
						<div class="form-group">
							<input #email type="text" class="form-control" placeholder="Email" 
                            data-field="placeholder[Email]" value="" required="" style="">
							<span class="glyphicon form-control-feedback" aria-hidden="true"></span>
						</div>
					</div>
					<!-- /Col -->
					
				</div>
				<!-- /Row -->
                
                 <!-- Row -->
				<div class="row">
					<!-- Col -->
					
                     <div class="col-sm-offset-9 col-sm-3 text-right">
                        <button id="send-message" class="btn btn-primary case-u lts-xl " data-field="html[Button Text]">Next</button>
                    </div>
					<!-- /Col -->
					
				</div>
				<!-- /Row -->
			</form>
			<!-- /Contact Form -->
		</div>
		<!-- /Container -->
	</div>
	<!-- /End #step1 -->
    
    