    
    <!-- Start #step1 -->
	<div id="step1" class="block bg-white align-left" data-edit="false">
		<!-- Container -->
		<div class="container container-main auto-invert">
			<!-- Title -->
			<div class="section-title auto-invert align-center">
				<h2 class="font-cond-b fg-text-d lts-sm" contenteditable="false">1. Contact Information</h2>
				<p class="font-cond-l lts-sm" contenteditable="false">Let's get started by giving us your 
                    name and email address <br />so we can contact you. We <strong>promise</strong> we won't spam you.
				</p>
			</div>
			<!-- /Title -->
			<!-- Contact Form -->
      
			<form id="contact-form" class="contact-form"  (ngSubmit)="onSubmit()" #contactForm="ngForm" novalidate>
				<div class="alert alert-danger alert-failed" [hidden]="contactForm.valid">
					All fields are required.
				</div>
        
        <!-- Row -->
				<div class="row">
					<!-- Col -->
					<div class="col-sm-6">
						<div class="form-group">
              
            <label for="firstName">First Name</label>
							<input #firstName="ngForm" type="text" class="form-control" [(ngModel)]="model.firstName" 
               ngControl="firstName" required>
               <div class="help-inline" [hidden]="firstName.valid || firstName.pristine">
					        A first name is required.
				        </div>
						</div>
					</div>
          <div class="col-sm-6">
						<div class="form-group">
              
              <label for="lastName">Last Name</label>
							<input #lastName="ngForm" type="text" class="form-control" [(ngModel)]="model.lastName" required>
              <div class="help-inline" [hidden]="lastName.valid || lastName.pristine">
					        A last name is required.
				        </div>
						</div>
					</div>
                   
					<!-- /Col -->
					
				</div>
				<!-- /Row -->
                
        <!-- Row -->
				<div class="row">
					<!-- Col -->
					<div class="col-sm-12">
						<div class="form-group">
              <label for="email">Email</label>
							<input #email="ngForm" type="email" class="form-control" [(ngModel)]="model.email" required>
							<div class="help-inline" [hidden]="email.valid || email.pristine">
					        An email is required.
				        </div>
						</div>
					</div>
					<!-- /Col -->
					
				</div>
				<!-- /Row -->
                
        <!-- Row -->
				<div class="row">
					<!-- Col -->
          <div class="col-sm-offset-9 col-sm-3 text-right">
            <button #sendMessage class="btn btn-primary case-u lts-xl ">Next</button>
          </div>
					<!-- /Col -->	
				</div>
				<!-- /Row -->
			</form>
			<!-- /Contact Form -->
		</div>
		<!-- /Container -->
	</div>
	<!-- /End #step1 -->
    
    