<div class="overlay primary-bg">
  <div class="middle-box text-center loginscreen">
    <div>

        <h1 class="m-b-xl">Sign In</h1>
        <form class="m-t" role="form" action="index.html" novalidate>
            <div class="form-group">
                <input type="email" class="form-control input-lg" placeholder="Email" required>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-lg block full-width m-b-xl">Login</button>

            <h3 class="m-t-lg">Create an account?</h3>
            <a class="btn btn-lg btn-info btn-outline block full-width " [routerLink]="['Register']">Register</a>
            
        </form>
    </div>
</div>
